[*.cs]

# IDE0011: Add braces
csharp_prefer_braces = false:suggestion

# IDE0032: Use auto property
dotnet_style_prefer_auto_properties = false:suggestion

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:silent

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none
